.pad {
    margin-top: 30px;
}

.error {
    color: red;
}

.test {
    width: 100px !important;
}

.width-text {
    width: 350px;
    word-wrap: break-word;
}

.img-width {
    width: 50px;
    height: 50px;
}


.dark-mode input:-webkit-autofill,
.dark-mode input:-webkit-autofill:focus,
.dark-mode input:-webkit-autofill:hover,
.dark-mode select:-webkit-autofill,
.dark-mode select:-webkit-autofill:focus,
.dark-mode select:-webkit-autofill:hover,
.dark-mode textarea:-webkit-autofill,
.dark-mode textarea:-webkit-autofill:focus,
.dark-mode textarea:-webkit-autofill:hover {
    -webkit-text-fill-color: #000 !important;
}
