.pad {
    margin-top: 30px;
}

.error {
    color: red;
}

.test {
    width: 100px !important;
}

.width-text {
    width: 350px;
    word-wrap: break-word;
}

.create-btn {
    margin-left: -65px;
    margin-top: 30px !important;
}

.img-width {
    width: 100px;
    height: 100px;
}

.user_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
}

.user_img2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: right;
}

.img_upload {
    display: none;
}

.upload {
    margin: 40px 40px 20px 40px;
    background-color: lightgray;
    color: #343a40;
    border: #343a40;
    border-radius: 10px;
    padding: 10px 20px;
}

#toggle {
    display: none;
}

.dark-mode input:-webkit-autofill,
.dark-mode input:-webkit-autofill:focus,
.dark-mode input:-webkit-autofill:hover,
.dark-mode select:-webkit-autofill,
.dark-mode select:-webkit-autofill:focus,
.dark-mode select:-webkit-autofill:hover,
.dark-mode textarea:-webkit-autofill,
.dark-mode textarea:-webkit-autofill:focus,
.dark-mode textarea:-webkit-autofill:hover {
    -webkit-text-fill-color: #000 !important;
}
